html {
    min-height: 100vh;
}

h1 {
    padding: 1em 0;
}

section.customers-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.property-card h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.property-card p {
    font-size: 12px;
}

.property-card, .property-image, .property-description {
    width: 12em;
}

.property-card {
    height: 12em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
    margin: .4em;
}

.property-image {
    height: 9em;
    padding: 1em 2em;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FAFAFC;
}

.property-description {
    background-color: var(--dark);
    color: #FAFAFC;
    height: 3em;
    position: absolute;
    bottom: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-card:hover .property-description {
    height: 2em;
    padding: 0px 1em;
}
.property-card:hover .property-image {
    height: 10em;
}


/** TEMOIGNAGES **/
.testimonials {
    background-color: var(--dark);
    margin-top: 1em;
}

.testimonials h1 {
    padding: 1em 0 2em 0;
    font-weight: 900;
}

.testimonials p {
    line-height: 1.6;
}

.testimonials img {
    width: 100%;
    height: auto;
}

.testimonials .button {
    position: relative;
    display: table;
    padding: 0.75em 3em;
    background: #000;
    color: #fff;
    text-decoration: none;
    margin-top: 1.5em;
    text-transform: uppercase;
}

.testimonials .button:hover {
    background: #2f2f2f;
}

.testimonials .container {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 1.5em;
}

.swiper {
    padding: 1.5em;
}

.swiper .content-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    width: 100%;
    justify-items: center;
    align-items: center;
}

.swiper .content-wrapper .content {
    padding: 3em 1.5em;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    color: #000;
}

.swiper .content-wrapper .content :first-child {
    margin: 0;
}

.swiper .content-wrapper .content .swiper-avatar {
    width: 100%;
    max-width: 125px;
    height: auto;
}

.swiper .content-wrapper .content .swiper-avatar img {
    border-radius: 500px;
}

.swiper .content-wrapper .content .cite {
    font-size: 14px;
    font-weight: bold;
}

.swiper .swiper-slide {
    margin: 0;
    height: auto;
    width: 100%;
    padding: 0;
    opacity: 0.2;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}

.swiper .swiper-slide.swiper-slide-active {
    background: white;
    opacity: 1;
    transform: scale(1.1);
}

.swiper .swiper-nav-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    padding-top: 3.5em;
}

.swiper .swiper-nav-wrapper .swiper-button-next,
.swiper .swiper-nav-wrapper .swiper-button-prev {
    top: 0;
    top: auto;
    left: auto;
    right: auto;
    position: relative !important;
}

.swiper .swiper-nav-wrapper .swiper-button-next:after,
.swiper .swiper-nav-wrapper .swiper-button-prev:after {
    display: none;
}

.swiper .swiper-nav-wrapper .swiper-button-next.testimonial-arrows,
.swiper .swiper-nav-wrapper .swiper-button-prev.testimonial-arrows{
    font-size: 25px;
    color: var(--pink);
    width: 25px;
    height: 45px;
}

.swiper-pagination {
    margin: 0;
    padding: 0;
    width: auto;
    position: relative !important;
    display: block;
}

.swiper-pagination .swiper-pagination-bullets {
    margin: 0;
}

.swiper-pagination .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    background: #fff !important;
}

.swiper-pagination-bullet {
    background: var(--pink) !important;
    transition: all 0.2s ease-in-out;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    top: 0;
    width: auto;
    padding: 0 1.5em;
    margin-top: -1em;
}

.swiper-pagination-bullet-active {
    transform: scale(1.5);
}

blockquote {
    position: relative
}
blockquote::before {
    content: "“";
    color: var(--pink);
    font-size: 7.5em;
    font-weight: 700;
    opacity: 0.3;
    position: absolute;
    top: -0.4em;
    left: 0;
    text-shadow: none;
    z-index: -10;
    font-family: 'Montserrat', serif;
}

@media screen and (max-width: 600px) {
    .property-card, .property-image, .property-description {
        width: 9em;
    }
}
