{% extends 'back_base.html.twig' %}

{% block body %}
    <div class="row no-gutter">
        <div class="col-lg-3 col-md-6">
            <a class="card dashboard-card">
                <div class="card-header bg-blue">
                    <i class="material-icons opacity-10">photo_library</i>
                </div>
                <div class="card-body">
                    Liste des bannières
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6">
            <a class="card dashboard-card">
                <div class="card-header bg-orange">
                    <i class="material-icons opacity-10">home</i>
                </div>
                <div class="card-body">
                    Liste des centres
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6">
            <a class="card dashboard-card">
                <div class="card-header bg-purple">
                    <i class="material-icons opacity-10">bolt</i>
                </div>
                <div class="card-body">
                    Cabines électriques
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6">
            <a class="card dashboard-card">
                <div class="card-header bg-red">
                    <i class="icon-azote opacity-10"></i>
                </div>
                <div class="card-body">
                    Cabines à l'azote
                </div>
            </a>
        </div>
    </div>
{% endblock %}
